body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFD700;
}

main {
    display: flex;
    justify-content: space-between;
}

#productosLista {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
}

.tarjetaProducto {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: calc(25% - 20px); 
    text-align: center;
    background-color: #B8860B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-bottom: 20px;  
}

.tarjetaProducto:hover {
    transform: scale(1.05);
}

.tarjetaProducto img {
    width: 70%;
    height: auto;
    max-height: 150px; 
    object-fit: cover; 
    border-radius: 4px;
    margin-bottom: 8px;
}

.tarjetaProducto h3 {
    font-size: 1rem;
    margin: 8px 0;
    font-weight: 700;
}

.tarjetaProducto p {
    font-size: 0.9rem;
    font-weight: 700;
}

#verDetalle {
    position: sticky;
    top: 20px;
    align-self: flex-start;
    width: 300px;
    border: 1px solid black;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
    background-color: #CFB53B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


#verDetalle img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 4px;
    font-weight: bold;
}

#verDetalle h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#verDetalle p {
    font-size: 0.9rem;
    font-weight: bold;
    color: black;
}

#verDetalle button{
    margin-top: 10px;
}

#cantidadProducto {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 0.9rem;
}

button {
    padding: 10px;
    background-color: #D9A800;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: bold;
}

button:hover {
    background-color: yellow;
}

header{
    background-color: #B8860B;
    padding: 15px;
    text-align: center;
    color: black; 
    font-weight: bold;
}

header .logo {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
}

header .logo-img {
    width: 70px;
    height: 70px;
    margin-right: 10px;    
}

header .nombre {
    font-size: 28px;
    margin: 0;
}

footer {
    background-color: #B8860B;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 5px;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px; 
}

#cancelarCompra {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #D9A800; 
    border: none;
    cursor: pointer;
    border-radius: 5px;
}